[submodule "cpp_tests"]
	path = cpp_tests
	url = https://github.com/theodorechle/cpp_tests
	branch = main
[submodule "cpp_commons"]
	path = cpp_commons
	url = https://github.com/theodorechle/cpp_commons
	branch = main
